body {
  font-family: sans-serif;
  padding: 0 5vw;
  background-color: rgb(197, 184, 198);
}

.fullwidth {
  padding: 0rem;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

/*General*/
p, a {
  font-size: 1.4rem;
}

h1 {
  color: rgb(32, 46, 55);
  font-size: 2.8rem;
}

h2 {
  color: rgb(32, 46, 55);
  font-size: 2rem;
}

button {
  color: rgb(32, 46, 55);
  padding: .4rem;
  font-size: 2rem;
}

button,
div.card {
  border-radius: 1rem;
  background: rgba(255, 255, 255, .1);
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(20px);
  transition: all 0.5s ease-in-out; 
}

/*General morphism cards*/


div.card {
  max-width: 500px;
  margin-bottom: 1rem;
}
div.card:hover,
button:hover{
  transform: translateY(-6px);
  background: white;
  cursor: pointer;
}

div.card a {
  color: black;
  text-decoration: none;
}

div.inner-card {
  margin: .4rem;
}

div.row-reverse {
  flex-direction: row-reverse;
}



/* Home page */

.home button {
  margin-top: 2rem;
}


/*end home*/
/* Glassmorphism */
.glassmorphism-body {
  background: rgb(115,55,154);
  background: linear-gradient(90deg, rgba(115,55,154,1) 0%, rgba(227,57,57,1) 50%, rgba(221,97,227,1) 100%);
}

.glass {
  background: rgba(249, 247, 247, 0.4);
}

.glassmorphism-body p,
.glassmorphism-body h1,
.glassmorphism-body h2,
.glassmorphism-body a {
  color: floralwhite;
  opacity: .6;
}

.glassmorphism-body div.card:hover,
.glassmorphism-body button:hover{
  transform: translateY(-6px);
  background: none;
  cursor: pointer;
}

.glassmorphism-body .navbar,
.glassmorphism-body button {
  border: none;
  border-radius: 1rem;
  background-color: #313236;
  box-shadow: 2px 2px darkslategrey;
  color: white;
}



/* Neumorphism, and old one */

/*old neu.*/
.container-neumorphism {
  background-color: #efeeee;
  color:  #9baacf;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: .3rem .3rem .6rem lightgray, 
  -.2rem -.2rem .5rem white;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem 0rem;
}

.container-neumorphism h1 {
  font-size: 8vw;
  margin: 1rem 0 1rem 0;
  color: rgb(197, 184, 198);
}

.container-neumorphism section h2 {
  font-size: 6vw;
  box-shadow: inset .2rem .2rem .5rem lightgray, 
  inset -.2rem -.2rem .5rem white;
  border-radius: 1rem;
  padding: 2rem;
  margin: 1rem 0 1rem 0;
}

.container-neumorphism h3 {
  font-size: 3.6rem;
  margin: 1rem 0 1rem 0;
}

.container-neumorphism h4 {
  font-size: 2.4rem;
  margin: 1rem 0 1rem 0;
}

.container-neumorphism p,
.nav-ul li  {
  font-size: 1.4rem;
  box-shadow: .3rem .3rem .6rem lightgray, 
  -.2rem -.2rem .5rem white;
  border-radius: 1rem;
  padding: 2rem;
}

.container-neumorphism a, li {
  font-size: 1.8rem;
}

.container-neumorphism li:hover {
  transition: all 5s ease;
  transition-property:all;
  transition-duration: 2s;
  transition-timing-function: ease;
  box-shadow: inset .2rem .2rem .5rem lightgray, 
  inset -.2rem -.2rem .5rem white;
}

.container-neumorphism a:hover {
  text-decoration: none;
}

.container-neumorphism .nomove:hover {
  box-shadow: .3rem .3rem .6rem lightgray, 
  -.2rem -.2rem .5rem white;
}

.container-neumorphism a, li, ul {
  text-decoration: none;
  list-style-type: none;
}

.container-neumorphism a, li, p {
  color:gray;
}







.container-neumorphism footer ul,
.container-neumorphism footer li,
.container-neumorphism nav li,
.container-neumorphism nav {
  box-shadow: .3rem .3rem .6rem lightgray, 
  -.2rem -.2rem .5rem white;
  border-radius: 1rem;
  padding: 2rem;
  margin: 0 1rem 0 1rem;
}



.container-neumorphism footer {
  margin-left: 0;
}

.container-neumorphism footer a, footer h2 {
  max-width: 32%;
}

.container-neumorphism .inset li {
  box-shadow: inset .2rem .2rem .5rem lightgray, 
  inset -.2rem -.2rem .5rem white;
}

.container-neumorphism .noshow li {
  color: #efeeee;;
}
/*end of old neumo.*/



/* Skeuomorphism */
div.skeuo {
  background: url(paper.JPG) repeat;
  border-radius: 0;
}
div.skeuo p,
div.skeuo a {
  color: rgb(32, 46, 55);
}

button.skeuo  {
  border-radius: 59rem;
  background: rgb(193,37,37);
  background: linear-gradient(90deg, rgba(193,37,37,1) 35%, rgba(150,11,11,1) 100%);
  color: rgb(236, 165, 154);
  height: 8rem;
  box-shadow: 4px 6px darkred;
  border: none;
}
button.skeuo:hover  {
    transform: translateY(0px);
    background: rgb(207,48,48);
    background: linear-gradient(90deg, rgba(207,48,48,1) 35%, rgba(168,19,19,1) 100%);
}
button.skeuo:active  {
    transform: translateY(4px);
    background: rgb(207,48,48);
    background: linear-gradient(90deg, rgba(207,48,48,1) 35%, rgba(168,19,19,1) 100%);
}
div.skeuo>.inner-card p {
  font-family: serif;
}



@media screen and (min-width: 800px) {

div.card {
  margin-bottom: 0rem;
}

.skeuo-body .flex {
  align-items: flex-start;
}

.flex {
  display: flex;
  gap: .8rem;
  flex-wrap: wrap;
  flex-direction: row;
}

p, a {
  font-size: 1.2rem;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 1.7rem;
}



.container-neumorphism nav ul {
  display: flex;
}

.container-neumorphism footer ul {
  display: flex;
  box-shadow: inset .2rem .2rem .5rem lightgray, 
  inset -.2rem -.2rem .5rem white;
  border-radius: 1rem;
  padding: 2rem;
  margin: 1rem 0 1rem 0;
  width: 66rem;
  justify-content: flex-start;
  margin-left: 0;
}

}

